{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'public/assets/output.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'public/assets/style.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'public/assets/images/tiktok.png' %}"
      type="image/x-icon"
    />
    <title>TikTok- Make Your Day</title>
  </head>

  <body>
    <!-- navbar -->
    <div
      id="TopNav"
      class="fixed bg-white z-30 flex items-center w-full border-b h-[60px]"
    >
      <div
        class="flex items-center justify-between gap-6 w-full px-4 mx-auto max-w-[1150px]"
      >
        <a href="/">
          <img
            class="logo min-w-[115px] w-[115px]"
            src="{% static 'public/assets/images/tiktok-logo.png' %}"
          />
        </a>


        <form 
           method="GET" action="{% url 'search_users' %}"
          class="relative hidden md:flex items-center justify-end bg-[#F1F1F2] p-1 rounded-full max-w-[430px] w-full"
        >
          <input
            type="text"
            name="query"
            class="w-full pl-3 my-2 bg-transparent placeholder-[#838383] text-[15px] focus:outline-none"
            placeholder="Search accounts"
          />

          {% comment %} <!-- user search modal -->
          <div
            class="absolute bg-white max-w-[910px] h-auto w-full z-20 left-0 top-16 border p-1"
          >
            <div class="p-1">
              <a
                href=""
                class="flex items-center justify-between w-full cursor-pointer hover:bg-[#F12B56] p-1 px-2 hover:text-white"
              >
                <div class="flex items-center">
                  <img
                    class="rounded-md"
                    width="40"
                    src="{% static 'public/assets/images/placeholder-user.jpg' %}"
                  />
                  <div class="truncate ml-4">bereket wale</div>
                </div>
              </a>
            </div>
          </div>
          <!-- end user search --> {% endcomment %}
           <input hidden type="submit" />
          <div
            className="px-3 py-1 flex items-center border-l border-l-gray-300"
          >
            <img
              src="{% static 'public/assets/images/search.png' %}"
              class="w-[25px] h-[25px] mr-4"
              alt=""
            />
          </div>
      </form>

        <!-- navbuttons start -->
        <div class="flex items-center gap-3">
          <a href="{% url "upload" %}">
          <button
            class="flex items-center border rounded-sm py-[6px] hover:bg-gray-100 pl-1.5"
          >
            <img
            class=""
              src="{% static 'public/assets/images/plus.png' %}"
              height="17"
              width="17"
              alt=""
            />
            <span class="px-2 font-medium text-[15px]">Upload</span>
          </button>
        </a>

         
          {% if user.is_authenticated %}
          <!-- loginuser -->
          <div class="flex items-center">
            <div class="relative">

              <button
                class="mt-1 border border-none relative"
               >

                <img
                  width="30"
                  height="30"
                  src="{% static 'public/assets/images/notification.png' %}"
                />
                 {% if count_notifications %}
                 <div class="absolute top-0 right-0 rounded-full text-white bg-[#F02C56] flex items-center justify-center h-[22px] w-[26px]">
                  <span class="badge  ">{{ count_notifications }}</span>
                   </div>
                {% endif %}
              

              </button>

              <button
                class="mt-1 border border-gray-200 rounded-full"
                id="profile-show"
               >
                {% if user.profile.picture %}
                <img
                  class="rounded-full w-[35px] h-[35px]"
                  src="{{user.profile.picture.url }}"
                /> 
                {% else %}
                  <img
                  class="rounded-full w-[35px] h-[35px]"
                  src="{% static 'public/assets/images/placeholder-user.jpg' %}"
                />
                {% endif %}
              </button>

              <!-- profile dropddown menu -->
              <div
                class="profile-down absolute bg-white rounded-lg py-1.5 w-[200px] shadow-xl border top-[40px] right-0 mt-2"
              >
              <a href="{% url 'profile' request.user %}">
                <button
                  class="flex items-center w-full justify-start py-3 px-2 hover:bg-gray-100 cursor-pointer"
                >
                  <BiUser size="20" />
                  <span class="pl-2 font-semibold text-sm">Profile</span>
                </button>
              </a>
                <a href="{% url "logout" %}">
                <button
                  class="flex items-center justify-start w-full py-3 px-1.5 hover:bg-gray-100 border-t cursor-pointer"
                >
                  <FiLogOut size="{20}" />
                 <span class="pl-2 font-semibold text-sm">Log out</span>
                </button>
              </a>
              </div>
              <!-- profile dropddown menu -->
            </div>
          </div>
          {% else %}
          <div class="flex items-center">
            <a href="{% url "login" %}">
            <button
              class="flex items-center bg-[#F02C56] text-white border rounded-md px-3 py-[6px]"
            >
              <span class="whitespace-nowrap mx-4 font-medium text-[15px]"
                >Log in</span
              >
            </button>
          </a>
            <BsThreeDotsVertical color="#161724" size="25" />
          </div>
          {% endif %}

          <!-- loginuser -->
        </div>
        <!-- navbuttons start -->
      </div>
    </div>
    <!-- endnavbar -->
    <div
      class="flex justify-between mx-auto w-full lg:px-2.5 px-0 max-w-[1140px]"
    >
      {% block content %}

      {% endblock  %}

    </div>

    
    <script src="{% static 'script.js'%}"></script>
  </body>
</html>
